@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        background: hsl(0, 0%, 90%);
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 60%, 0.5);
        border: 1px solid hsl(0 ,0%, 100%, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
    }
}
