#root {
  max-width: 1280px;
  min-height: 400px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.crx:hover {
  filter: drop-shadow(0 0 2em #f2bae4aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
.browsem-header-connected {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    h1 {
        align-self: flex-end;
        margin-bottom: 0;
    }
    .top-right {
        .disconnect-btn-container {
            margin-bottom: 1rem;
            display: flex;
            button {
                transition: all ease 0.2s;
                color: hsl(350, 73%, 64%);
                align-self: flex-start;
            }
        }
        .server-stats {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            p {
                align-self: flex-start;
                margin: 0;
            }
        }
    }
}
.connected-as-username {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    padding-left: 0.125rem;
}
.server-stats button:hover {
        color: hsl(350, 73%, 44%);
}
