@import "./variables.scss";
.chatter-container {
    flex: 1 1 33.3%;
    min-width: 240px;
    max-width: 520px;
    aspect-ratio: 16 / 9;
    user-select: none;
    /* .chatter-top { */
    /*     border-radius: 8px; */
    /*     background: hsl(0, 0%, 15%); */
    /*     height: 100%; */
    /*     display: flex; */
    /*     justify-content: center; */
    /*     align-items: center; */
    /*     cursor: pointer; */
    /*     .chatter-pfp { */
    /*         border-radius: 50%; */
    /*     } */
    /* } */
    .chatter_camera_off {
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid hsla(0, 0%, 90%, 0.4);
        transition: all ease 0.2s;
        background: hsl(0, 0%, 12%);
        aspect-ratio: 16 / 9;

        &:hover {
            background: hsl(0, 0%, 15%);
        }
        img {
            border-radius: 50%;
        }
    }
    .chatter_camera_on {
        border-radius: 8px;
        border: 1px solid hsla(0, 0%, 90%, 0.4);
        cursor: pointer;
        transition: all ease 0.2s;
        position: relative;
        height: 100%;
        .video_loading_icon_container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
        &:hover {
            background: hsl(0, 0%, 15%);
        }
        video {
        border-radius: 8px;
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;
        }
        .loading-video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: hsl(0, 0%, 10%);
            height: 100%;
        }
    }
    .chatter-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chatter-settings {
            display: flex;
            align-items: center;
            .chatter-settings-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.speaking_border {
    box-shadow: 0 0 8px $light-green;
}

.focused_window {
    width: 100% !important;
    max-width: 896px;
}
.non_focused_window {
    max-width: 240px;
    min-width: 240px;
}
.focused_window_tint {
    filter: brightness(35%);
}
