@import "./variables.scss";
.call-buttons-container {
    position: fixed;
    left: 12px;
    bottom: 12px;
    background: hsl(0, 0%, 25%);
    border-radius: 8px;
    padding: 12px;
    width: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    .call-buttons-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .rtc-status-container {
            display: flex;
            align-items: center;
            .rtc-status-icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
                .rtc-status-icon {
                    color: $light-red;
                }
            }
        }
        .rtc-disconnect-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            border: 1px solid hsla(0, 0%, 90%, 0.2);
            border-radius: 4px;
            min-width: 18px;
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover {
                background: hsl(0, 0%, 30%);
            }
        }
    }
    .call-buttons-middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .settings-icon {
            padding: 8px;
            min-width: 48px;
            border: 1px solid hsla(0, 0%, 90%, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            cursor: pointer;
            transition: all ease 0.2s;
            font-size: 18px;
            &:hover {
                background: hsl(0, 0%, 30%);
            }
        }
        .mic-icon-container {
        }
        .video-icon-container {
        }
        .deafen-icon-container {
        }
    }
    .call-buttons-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .chatter-meta-container {
            display: flex;
            align-items: center;
            border-radius: 8px;
            user-select: none;
            padding: 4px 4px 4px 0px;
            cursor: pointer;
            &:hover {
                background: hsl(0, 0%, 30%);
            }
            img {
                max-width: 24px;
                border-radius: 50%;
                margin-right: 4px;
            }
        }
        .call-settings-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            border: 1px solid hsla(0, 0%, 90%, 0.2);
            cursor: pointer;
            transition: all ease 0.2s;
            border-radius: 4px;
            width: 18px;
            &:hover {
                background: hsl(0, 0%, 30%);
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    .call-buttons-container {

    }
}
