.call-sidebar {
    height: calc(100% - 190px);
    max-width: 236px;
    min-width: 236px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    .channels-on-origin {
        margin-bottom: 12px;
    }
    .calls-header {
        margin-bottom: 4px;
    }
    .chat-header {
        padding-top: 12px;
        margin-bottom: 0px;
    }
    padding: 12px;
    border-bottom: 1px solid hsla(0, 0%, 90%, 0.2);
}
@media (prefers-color-scheme: light) {
    #channels-on-origin {
      color: var(--dark-text) !important;
    }
    #calls-header {
      color: var(--dark-text) !important;

    }
    #chat-header {
      color: var(--dark-text) !important;

    }
    .browsem-call {
        .call-sidebar {
            .channels-on-origin {
            }
            .calls-header {
                p {
                  color: var(--dark-text) !important;
                }
            }
            .chat-header {
                p {
                  color: var(--dark-text) !important;
                }
            }
        }
    }
}
