.channels-container {
    background: hsl(0, 0%, 25%);
    border-radius: 8px;
    padding: 1rem;
    max-width: 220px;
    min-width: 220px;
    overflow-y: auto;
    height: 100%;
    min-height: 200px;
    max-height: 320px;
    .channel {
        margin-bottom: 1rem;
        .channel-meta {
            display: flex;
            align-items: center;
            cursor: pointer;
            .channel-voice-icon {
                margin-right: 0.25rem;
                transition: all ease 0.2s;
            }
            p {
                transition: all ease 0.2s;
                position: relative;
                bottom: 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .channel-meta:hover .channel-name, .channel-meta:hover .channel-icon {
            color: hsl(0, 0%, 60%);
            
        }
        .channel-chatters {
            .channel-chatter {
                display: flex;
                align-items: center;
                margin-bottom: 0.25rem;
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                img {
                    max-width: 1.5rem;
                    margin-right: 0.25rem;
                }
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    .channels-container {
        background: hsl(0, 0%, 95%);
    }
}
