
.url-calls-container {
    background: hsl(0, 0%, 25%);
    border-radius: 8px;
    padding: 16px;
    max-width: 220px;
    min-width: 220px;
    overflow-y: auto;
    overflow-x:hidden;
    height: 100%;
    min-height: 200px;
    max-height: 320px;

    .channels-container {
        padding-left: 12px;
        .channel {
            margin-bottom: 16px;
            .channel-meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .channel-meta-left {
                    display: flex;
                    align-items: center;
                    max-width: 100%;
                    .channel-voice-icon {
                        margin-right: 4px;
                    }
                }
            }
            .channel-meta:hover .channel-name, .channel-meta:hover .channel-icon, .channel-meta:hover .channel-max-chatters {
                color: hsl(0, 0%, 60%);
                
            }
            .channel-chatters {
                .channel-chatter {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    img {
                        max-width: 24px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    .url-calls-container {
        .channels-container {
            background: hsl(0, 0%, 95%);
        }
    }
}
