
/* :root { */
/*     // backgrounds */
/*     --light-background: hsl(0, 0%, 95%); */
/*     ---light-background-hover: hsl(0, 0%, 90%); */
/*     --dark-background: hsl(0, 0%, 20%); */
/*     --dark-background-hover: hsl(0, 0%, 25%); */
/*     // text */
/*     --dark-text: hsl(0, 0%, 10%); */
/*     --light-text: hsl(0, 0%, 95%); */
/*     // window handler */
/*     --dark-window-handler-background: hsl(0, 0%, 15%); */
/*     --dark-window-handler-background-hover: hsl(0, 0%, 20%); */
/*     --light-window-handler-background: hsl(0, 0%, 90%); */
/*     --light-window-handler-background-hover: hsl(0, 0%, 85%); */
/*     // buttons */
/*     --dark-button-background: hsl(0, 0%, 25%); */
/*     --light-button-background: hsl(0, 0%, 90%); */
/* } */

.url-calls-header {

}
.url-calls-container {
    background: hsl(0, 0%, 25%);
    border-radius: 8px;
    padding: 8px;
    overflow-y: auto;
    overflow-x:hidden;
    height: 100%;
    max-width: 100%;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;

    .url-call-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 0px 12px 0px 4px;
        &:hover {
            background: hsl(0, 0%, 30%);
        }
        .url-call-name {
            font-size: 16px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            user-select: none;
        }
        .url-call-right {
            position: relative;
            display: flex;
            align-items: center;
            right: -4px;
            .url-call-channel-count {
                color: var(--light-text);
                user-select: none;
            }
            .url-call-dropped-down-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                .url-call-dropped-down-icon {
                    position: relative;
                }
            }
        }
    }

    .channels-container {
        padding-top: 4px;
        padding-right: 8px;
        .channel {
            margin-bottom: 8px;
            .channel-meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                margin-bottom: 4px;
                .channel-meta-left {
                    display: flex;
                    align-items: center;
                    max-width: 75%;
                    .channel-voice-icon {
                        margin-right: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        user-select: none;
                        .channel-icon {
                            font-size: 16px;

                        }
                    }
                    .channel-name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        user-select: none;
                    }
                }
                .channel-max-chatters {
                    display: flex;
                    align-items: center;
                    position: relative;
                    color: var(--light-text);
                    user-select: none;
                    .max-chatters-icon-container {
                        .max-chatters-icon {
                            font-size: 18px;
                            display: flex;
                            align-items: center;
                            user-select: none;
                        }
                    }
                }
            }
            .channel-meta:hover .channel-name, .channel-meta:hover .channel-icon, .channel-meta:hover .channel-max-chatters {
                color: hsl(0, 0%, 60%);
            }
            .channel-chatters {
                padding-left: 12px;
                .channel-chatter {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        user-select: none;
                        font-size: 12px;
                    }
                    img {
                        max-width: 18px;
                        margin-right: 4px;
                        color: var(--light-text);
                        border-radius: 50%;
                        user-select: none;
                    }
                }
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    .url-calls-container {
        background: hsl(0, 0%, 85%);
        .url-call-container {
            &:hover {
                background: hsl(0, 0%, 80%);
            }
            .url-call-name {
            }
            .url-call-right {
                .url-call-channel-count {
                    color: var(--dark-text);
                }
            }
        }
        .channels-container {
            .channel {
                .channel-meta {
                    .channel-meta-left {
                        .channel-voice-icon {
                            .channel-icon {
                            }
                        }
                        .channel-name {
                        }
                    }
                    .channel-max-chatters {
                        color: var(--dark-text);
                        .max-chatters-icon-container {
                            .max-chatters-icon {
                            }
                        }
                    }
                }
                .channel-meta:hover .channel-name, .channel-meta:hover .channel-icon, .channel-meta:hover .channel-max-chatters {
                    color: hsl(0, 0%, 40%);
                }
                .channel-chatters {
                    .channel-chatter {
                        img {
                            color: var(--dark-text);
                        }
                    }
                }
            }
        }
    }
}
