
.url-calls-container {
    background: hsl(0, 0%, 25%);
    border-radius: 8px;
    padding: 8px;
    max-width: 220px;
    min-width: 220px;
    overflow-y: auto;
    overflow-x:hidden;
    height: 100%;
    min-height: 200px;
    max-height: 320px;
    .url-call-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 0px 8px;
        &:hover {
            background: hsl(0, 0%, 30%);
        }
        .url-call-name {
            font-size: 16px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            user-select: none;
        }
        .url-call-right {
            position: relative;
            display: flex;
            align-items: center;
            right: -4px;
            .url-call-channel-count {
            }
            .url-call-dropped-down-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                .url-call-dropped-down-icon {
                    position: relative;
                }
            }
        }
    }

    .channels-container {
        padding-left: 12px;
        padding-top: 4px;
        padding-right: 8px;
        .channel {
            margin-bottom: 8px;
            .channel-meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .channel-meta-left {
                    display: flex;
                    align-items: center;
                    max-width: 75%;
                    .channel-voice-icon {
                        margin-right: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .channel-icon {
                            font-size: 16px;

                        }
                    }
                    .channel-name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .channel-max-chatters {
                    display: flex;
                    align-items: center;
                    position: relative;
                    .max-chatters-icon-container {
                        .max-chatters-icon {
                            font-size: 18px;
                            display: flex;
                            align-items: center;

                        }
                    }
                }
            }
            .channel-meta:hover .channel-name, .channel-meta:hover .channel-icon, .channel-meta:hover .channel-max-chatters {
                color: hsl(0, 0%, 60%);
            }
            .channel-chatters {
                .channel-chatter {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    img {
                        max-width: 24px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    .url-calls-container {
        background: hsl(0, 0%, 95%);
        .url-call-container {
            &:hover {
                background: hsl(0, 0%, 85%);
            }

        }
        .channels-container {
        }
    }
}
