.chatters-board {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 5%);
    padding: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: 100%;
}
