.call-chatroom-container {
    .call-chatroom {
        background: hsl(0, 0%, 25%);
        margin-top: 12px;
        border-radius: 8px;
        padding: 12px;
        min-height: 240px;
        word-wrap: break-word;
        margin-bottom: 12px;
        overflow-y: auto;
        overflow-x: hidden;
        .chat-message-container {
            word-wrap: break-word;
            img {
                max-width: 18px;
                border-radius: 50%;
                margin-right: 4px;
                position: relative;
                bottom: -4px;
                user-select: none;
            }
            span {
                font-size: 14px;
                word-break: break-all;
                color: var(--light-text);
                /* p { */
                /*     display: flex; */
                /*     align-items: center; */
                /* } */
                .chat-message-username {
                    margin-right: 4px;
                }
                .chat-message-content {
                }
            }
        }
    }
    .chatroom-bottom {
        .input-container {
            margin-bottom: 8px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            input {
                padding: 6px;
                width: 100%;
            }
        }
        .input-bottom {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                margin-left: 4px;
                cursor: pointer;
                border: none;
                padding: 6px 12px;
                border-radius: 4px;
                transition: all ease 0.2s;
                &:hover {
                    background: hsl(0, 0%, 30%);
                }
            }
            .input-settings-icon-container {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;
                transition: all ease 0.2s;
                border-radius: 4px;
                &:hover {
                    background: hsl(0, 0%, 20%);
                }
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    .call-chatroom-container {
        .call-chatroom {
            background: hsl(0, 0%, 80%);
        }
    }
}
