.chatters-board {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 5%);
    padding: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: 100%;
}
/* .chattersboard { */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/*     flex-wrap: wrap; */
/*     gap: 1rem; */
/*     padding: 1rem; */
/*     width: 100%; */
/*     height: 100%; */
/*     min-height: 60vh; */
/* } */
.chattersboard_with_focused_window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    background: hsl(0, 0%, 5%);
    .chattersboard_bottom {
        display: flex;
    }
}
