.create-channel-container {
    position: relative;
    animation: fadeAndSlideLeft 0.3s;
    min-height: 100%;
    height: 100%;
    h2 {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 2rem;
    }
    .go-back-container-new-channel {
        position: absolute;
    }
    .create-channel-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        margin-bottom: 2rem;
        .channelname-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            width: 50%;
            .channelname-label {
                text-align: left;
                margin-bottom: 0.25rem;
            }
        }
        .max-chatters-container {
            display: flex;
            flex-direction: column;
            .max-chatters-label {
                text-align: left;
            } 
        }
    }
    .create-channel-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .create-channel-btn {
            min-width: 5rem;
            color: lightgreen;
        }
    }
}

@media (prefers-color-scheme: light) {
    .create-channel-container {
        .create-channel-buttons {
            .create-channel-btn {
                color: hsl(120, 93%, 35%);
            }
        }
    }
}
