// colors
$light-green: hsl(120, 93%, 70%);
$light-green-hover: hsl(120, 73%, 40%);
$light-red: hsl(0, 99%, 67%);
$light-red-hover: hsl(0, 79%, 47%);
$very-light-blue: hsl(219, 96%, 80%);
$very-light-blue-hover: hsl(219, 96%, 80%);
$light-blue: hsl(219, 90%, 40%);
$light-blue-hover: hsl(219, 100%, 50%);
$light-yellow: hsl(50.6, 90%, 65%);
$light-yellow-hover: hsl(50.6, 90%, 75%);
$light-orange: hsl(22, 100%, 60%);
$light-orange-hover: hsl(22, 100%, 65%);
$light-turqoise: hsl(175, 86%, 75%);
$light-turqoise-hover: hsl(175, 86%, 85%);
$light-purple: hsl(275, 100%, 80%);
$light-purple-hover: hsl(275, 100%, 90%);
$dark-background-1: hsla(0, 0%, 15%, 0.3);

// colors for locations and stuff
$area-color: hsl(120, 73%, 75%);
$livepost-color: hsl(50.6, 90%, 65%);
$group-color: hsl(22, 100%, 60%);
$whisper-color: lightpink;
$addfriend-color: hsl(120, 93%, 80%);
$biography-color: hsl(219, 96%, 80%);
